// Estilos comunes de la App
@import "../../scss/app";

// Estilos del index.html
body { color: $white; }
p { color: $secondary; }
a {
  color: $secondary;
  &:hover {
    color: darken($secondary, 15%);
  }
}